/****************** Variables ****************/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap");
/******************** Globales ******************************/
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  font-family: "Nunito", sans-serif;
  font-size: 16px; }

.container {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto; }

/*********************** Componentes *************************/
/*Botones*/
.button, .button--skills {
  box-shadow: 4px 5px 12px -4px rgba(0, 0, 0, 0.74);
  -webkit-box-shadow: 4px 5px 12px -4px rgba(0, 0, 0, 0.74);
  -moz-box-shadow: 4px 5px 12px -4px rgba(0, 0, 0, 0.74);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 2rem;
  transition: width 2s; }

.button, .button--skills:hover {
  background-color: #474444;
  color: #fff; }

.button--skills:hover {
  background-image: none; }

.button {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 1rem;
  min-width: max-content; }
  .button--home {
    display: block;
    padding: 3rem;
    margin-top: 3rem;
    font-size: 2rem; }

.button:hover {
  background-color: #555555;
  color: #fff; }

.button--skills {
  background-image: linear-gradient(45deg, #00c4cc 5%, #7c2ae8 95%);
  color: #fff; }

.button--skills {
  padding: 2rem;
  border-radius: 3rem;
  margin: 2rem 2rem 4rem 2rem;
  width: 18rem; }

.button:hover, .button--skills:hover {
  transform: scale(0.95); }

/*Titulos*/
h2 {
  font-size: 4rem;
  font-weight: bold; }

h3 {
  font-size: 2rem; }

@media (min-width: 481px) {
  .button--home {
    display: inline-block;
    margin: 3rem; } }

/******************** Utilidades ******************/
.white {
  color: white; }

.primary {
  color: #2a0a5e; }

.secondary {
  color: #474444; }

.color-aux1 {
  color: #00c4cc; }

.gradient {
  background-image: linear-gradient(45deg, #00c4cc 5%, #7c2ae8 95%); }

.center {
  margin: 0 auto; }

/******************** Home ********************/
.bodyHome {
  height: 100vh;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.headerHome {
  text-align: center;
  font-size: 3rem; }
  .headerHome__text {
    --typewritten-text_cursor-width: 0.25rem;
    --typewriten-text_cursor-interval: 1500ms
    ; }

.homeTitle {
  font-size: 2.4rem;
  font-weight: 400; }

/******************** Header ********************/
.header {
  position: relative; }
  .header .nav {
    position: fixed;
    width: 100%;
    z-index: 1000; }
    .header .nav .nav__button {
      border: none;
      color: transparent; }
    .header .nav .nav__links {
      text-transform: uppercase;
      text-decoration: none;
      margin-right: 1rem; }
      .header .nav .nav__links ul {
        align-items: flex-end; }
        .header .nav .nav__links ul .nav__link {
          color: #fff;
          font-weight: 300; }
        .header .nav .nav__links ul .nav__link:hover {
          background-color: #474444; }
  .header__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6rem;
    padding-bottom: 1rem; }
  .header__img {
    width: 50%; }
  .header__text {
    margin: 0 auto;
    text-align: center; }
  .header__title {
    font-size: 5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 700; }
  .header__par {
    padding: 0 3rem;
    font-size: 1.8rem; }

@media (min-width: 450px) {
  .header__title {
    font-size: 6rem;
    margin-bottom: 2rem;
    font-weight: 700; } }

@media (min-width: 992px) {
  .header .nav__links {
    justify-content: flex-end; }
    .header .nav__links .nav__link {
      margin: 0 1rem; }
  .header__content {
    flex-direction: row; }
  .header__title {
    font-size: 8rem;
    margin-bottom: 2rem; }
  .header__par {
    padding: 0 2rem;
    font-size: 2rem; } }

/******************** Header Animation ********************/
#leafs {
  animation: leaf 2s ease-in-out infinite alternate;
  transform-origin: bottom;
  transform-box: fill-box; }

#smoke {
  animation: smoke 3s linear infinite alternate;
  transform-origin: center;
  transform-box: fill-box; }

#block1 {
  animation: block 3s ease-in-out infinite; }

#block2 {
  animation: block 3s ease-in-out infinite 0.6s; }

#block3 {
  animation: block 3s ease-in-out infinite 1.2s; }

#block4 {
  animation: block 3s ease-in-out infinite 1.8s; }

#block5 {
  animation: block 3s ease-in-out infinite 2.4s; }

@keyframes leaf {
  from {
    transform: rotateY(-15deg) rotateX(-5deg); }
  to {
    transform: rotateY(15deg) rotateX(5deg); } }

@keyframes smoke {
  from {
    transform: rotateY(0deg); }
  to {
    transform: rotateY(360deg); } }

@keyframes block {
  from {
    transform: translateY(10px);
    opacity: 1; }
  to {
    transform: translateY(-10px);
    opacity: 0; } }

/*********************** Footer *************************/
.footer_content {
  margin: 0;
  padding: 2rem;
  text-align: center; }

/*********************** Index ************************/
/* Main - projects */
.projects {
  margin: 2rem 0; }

#more-projects-1, #more-projects-2 {
  display: none; }

@media (min-width: 768px) {
  .projects__container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%; }
    .projects__container--content {
      width: 30%; } }

/* Section - About me */
.sobre-mi {
  text-align: center;
  margin: 2rem 0;
  padding: 3rem; }
  .sobre-mi__title {
    margin-bottom: 2rem; }
  .sobre-mi__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; }
    .sobre-mi__content img {
      margin-bottom: 2rem;
      border-radius: 50%;
      width: 30rem;
      height: 30rem; }
  .sobre-mi__par {
    font-size: 1.8rem; }

@media (min-width: 768px) {
  .sobre-mi__content {
    flex-wrap: nowrap; }
  .sobre-mi__par {
    padding-left: 2rem; } }

/*Section - Skills */
.skills {
  padding: 3rem;
  text-align: center; }
  .skills h2 {
    margin-bottom: 2rem; }
  .skills__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }

.skills__content .button--skills {
  min-width: max-content; }

.skills__content .button--skills:hover {
  cursor: none; }

/* Section - Contact*/
.contact {
  padding: 3rem 1rem;
  text-align: center; }
  .contact h2 {
    margin-bottom: 2rem; }
  .contact__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; }
  .contact__item {
    display: flex;
    align-items: center;
    margin: 1rem; }
    .contact__item a {
      text-decoration: none;
      font-size: 2rem;
      padding-left: 1rem;
      word-wrap: break-word; }

@media (max-width: 480px) {
  .contact__item--text span {
    display: block; } }

/*********************** SwiperCards ************************/
.swiper {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 5px; }
  .swiper .swipper-wrapper {
    margin: 1rem; }
  .swiper .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 90%;
    max-width: 900px; }

.projectCard {
  height: auto;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 5rem;
  background-color: #292928;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0.5rem 1rem rgba(83, 83, 83, 0.5); }
  .projectCard__image {
    width: 90%;
    max-width: 200px;
    height: 120px;
    background-image: url("../img/laptop.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; }
  .projectCard__site {
    background-size: cover;
    background-repeat: no-repeat;
    width: 65.5%;
    height: 69%;
    position: absolute;
    top: 12%;
    left: 19%; }
  .projectCard__content {
    width: 80%;
    color: white;
    text-align: center; }
  .projectCard__title {
    font-size: 2.2rem;
    margin-bottom: 1rem; }
  .projectCard__text {
    font-size: 1.6rem;
    font-weight: 300; }
  .projectCard__skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #292928; }
    .projectCard__skills p {
      background-color: #00c4cc;
      padding: 0.2rem 1rem;
      margin: 0.5rem;
      border-radius: 0.5rem; }
  .projectCard__btn {
    margin: 1rem;
    font-size: 1.6rem;
    border-radius: 1rem; }

.projectCard__site-1 {
  background-image: url("../img/img1.jpg"); }

.projectCard__site-2 {
  background-image: url("../img/img2.jpg"); }

.projectCard__site-3 {
  background-image: url("../img/img3.jpg"); }

.projectCard__site-4 {
  background-image: url("../img/img4.jpg"); }

@media (min-width: 420px) {
  .swiper {
    padding-bottom: 2rem; }
  .projectCard__image {
    max-width: 300px;
    height: 180px; }
  .projectCard__title {
    font-size: 2.5rem; } }

@media (min-width: 670px) {
  .projectCard__image {
    max-width: 500px;
    height: 300px; }
  .projectCard__text {
    font-size: 1.8rem; } }

@media (min-width: 992px) {
  .projectCard {
    height: 300px;
    flex-direction: row; }
    .projectCard__image {
      width: 50%;
      height: 100%;
      background-size: contain; }
    .projectCard__site {
      width: 65%;
      height: 58%;
      top: 10%;
      left: 18%; }
    .projectCard__content {
      width: 50%; }
    .projectCard__title {
      font-size: 3rem; } }

/*********************** Courses *************************/
.courses {
  padding: 4rem;
  text-align: center; }
  .courses h2 {
    margin-bottom: 2rem; }
  .courses__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .courses__cards .button--skills {
      display: none; }
  .courses__card {
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 4px 5px 12px -4px rgba(0, 0, 0, 0.74);
    -webkit-box-shadow: 4px 5px 12px -4px rgba(0, 0, 0, 0.74);
    -moz-box-shadow: 4px 5px 12px -4px rgba(0, 0, 0, 0.74); }
    .courses__card .progress {
      transition: width 2s; }
    .courses__card #progress {
      transition-timing-function: ease-in; }
  .courses__card:hover {
    transform: scale(1.05); }
