.swiper {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 5px;
    .swipper-wrapper {
        margin: 1rem;
    }
    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 90%;
      max-width: 900px;
    }
}
.projectCard {
    height: auto;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 5rem;
    background-color: rgb(41, 41, 40);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0.5rem 1rem rgba(83, 83, 83, 0.5);
    &__image {
        width: 90%;
        max-width: 200px;
        height: 120px;
        background-image: url('../img/laptop.png');
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    &__site {
        background-size: cover;
        background-repeat: no-repeat;
        width: 65.5%;
        height: 69%;
        position: absolute;
        top: 12%;
        left: 19%;
    }
    &__content {
        width: 80%;
        color: white;
        text-align: center;
    }
    &__title {
        font-size: 2.2rem;
        margin-bottom: 1rem;
    }
    &__text {
        font-size: 1.6rem;
        font-weight: 300;
    }
    &__skills {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        color: rgb(41, 41, 40);
        p {
           background-color: $aux1; 
            padding: 0.2rem 1rem;
            margin: 0.5rem;
            border-radius: 0.5rem;
        }
    }
    &__btn {
        margin: 1rem;
        font-size: 1.6rem;
        border-radius: 1rem;
    }
}
@for $i from 1 through 4 {
    .projectCard__site-#{$i} {
        background-image: url('../img/img#{$i}.jpg');
    }
}

@media (min-width: 420px) {
    .swiper {
        padding-bottom: 2rem;
        .swiper-slide {
            //height: auto;
        }
    }
    .projectCard {
        &__image {
            max-width: 300px;
            height: 180px;
        }
        &__title {
            font-size: 2.5rem;
        }
    }
}
@media (min-width: 670px) {
    .projectCard {
        &__image {
            max-width: 500px;
            height: 300px;
        }
        &__text {
            font-size: 1.8rem;
        }
    }
}
@media (min-width: 992px) {
    .projectCard {
        height: 300px;
        flex-direction: row;
        &__image {
            width: 50%;
            height: 100%;
            background-size: contain;
        }
        &__site {
            width: 65%;
            height: 58%;
            top: 10%;
            left: 18%;
        }
        &__content {
            width: 50%;
        }
        &__title {
            font-size: 3rem;
        }
    }
}