
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');
$font1: 'Nunito', sans-serif;
$primary: #2a0a5e;
$secondary: #474444;
$white: #fff;
$aux1: #00c4cc;
$aux2: #7c2ae8;
$gradient: linear-gradient(45deg, rgba(0,196,204,1) 5%, rgba(124,42,232,1) 95%);
$shadow: 4px 5px 12px -4px rgba(0,0,0,0.74);